.container
{
	margin: 0 auto;
	width: 900px;
}

.column
{
	float: left;
	width: 45%;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	text-decoration: underline;
	color: darkgray;
}

#resets strong:hover
{
	text-decoration: underline;
}
